<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>opendata_display</title>
  <link href="css/main.css" rel="stylesheet">

<link href="/../Public/css/main.css" rel="stylesheet"></head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="/js/manifest.5b1a758cc788a8639204.js"></script><script type="text/javascript" src="/js/vendor.a51577fd6c3f7efc634b.js"></script><script type="text/javascript" src="/js/app.da534d4e33eb3b657963.js"></script></body>

</html>
