<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>opendata_display</title>
  <link href="css/main.css" rel="stylesheet">

<link href="/../Public/css/main.css" rel="stylesheet"></head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="/js/manifest.b56b056c45c3c69a92f3.js"></script><script type="text/javascript" src="/js/vendor.81aa1e5246d9fda51c5e.js"></script><script type="text/javascript" src="/js/app.d35ae711a4d61b149e6f.js"></script></body>

</html>
