<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>courses</title>
  <!-- <link href="css/main.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="css/fullcalendar.min.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="css/vuetify.min.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/uikit.min.css" />

</head>

<body>
  <div id="app"></div>

<script type="text/javascript" src="/js/manifest.960cc8dabce9ae13f818.js"></script><script type="text/javascript" src="/js/vendor.eb29214b3bd1a3f6edf3.js"></script><script type="text/javascript" src="/js/app.a54661312906b97d5094.js"></script></body>

</html>
