<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>courses</title>
  <!-- <link href="css/main.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="css/fullcalendar.min.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="css/vuetify.min.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/uikit.min.css" />

</head>

<body>
  <div id="app"></div>

<script type="text/javascript" src="/js/manifest.8064fa97f128ae0e59e3.js"></script><script type="text/javascript" src="/js/vendor.91b569c704e464bee3b4.js"></script><script type="text/javascript" src="/js/app.d0d394a0eec73cf9f6ed.js"></script></body>

</html>
