.overflow--scroll {
  overflow: scroll;
}

.padding--zero {
  padding: 0 !important;
}

.uk-button-default {
  background-color: white !important;
}

.uk-button-borderless {
  border: none !important;
}

.uk-flex-grow {
  flex-grow: 99;
}

.my-card--padding {
  padding: 24px !important;
}

.dummy__text {
  height: 16px;
  width: 100%;
}

.dummy__text--small {
  height: 14px;
  width: 100%;
}

.dummy__bus {
  width: 24px;
  height: 24px;
}

.btn--huge {
  height: 4.5rem !important;
  width: 4.5rem !important;
}

.icon--huge {
  font-size: 6rem;
  height: 3rem;
}

.flex-1 {
  flex: 1;
}

.dummy--background-color {
  background-color: rgb(246, 246, 246) !important;
}

.my-card__close {
  position: absolute;
  top: 0px;
  right: 0px;
}

.fade-cards-enter-active, .fade-cards-leave-active {
  transition: opacity 0.5s
}

.fade-cards-enter, .fade-cards-leave-to, .fade-cards-leave-active
{
  opacity: 0
}
