.overflow--scroll {
  overflow: scroll;
}

.padding--zero {
  padding: 0 !important;
}

.uk-button-default {
  background-color: white !important;
}

.uk-button-borderless {
  border: none !important;
}

.uk-flex-grow {
  flex-grow: 99;
}

.my-card--padding {
  padding: 24px !important;
}

.dummy__text {
  height: 16px;
  width: 100%;
}

.dummy__text--small {
  height: 14px;
  width: 100%;
}

.dummy__bus {
  width: 24px;
  height: 24px;
}

.btn--huge {
  height: 4.5rem !important;
  width: 4.5rem !important;
}

.icon--huge {
  font-size: 6rem;
  height: 3rem;
}

.flex-1 {
  flex: 1;
}

.f-v {
  height: 100vh;
}

.uk-flex--grow{
flex-grow: 99;
}

.dummy--background-color {
  background-color: rgb(246, 246, 246) !important;
}

.my-card__close {
  position: absolute;
  top: 0px;
  right: 0px;
}

.fade-cards-enter-active, .fade-cards-leave-active {
  transition: opacity 0.5s
}

.fade-cards-enter, .fade-cards-leave-to, .fade-cards-leave-active
{
  opacity: 0
}

.bottom--offset {
  margin-bottom: 70px;
}

.navigation__actions {
  position: absolute;
  height: 40px;
  background-color: white;
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0
}

.flex--center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
