<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tacita</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="/js/manifest.8dbfcf468ba19f29f372.js"></script><script type="text/javascript" src="/js/vendor.2409474e1c7f74106c82.js"></script><script type="text/javascript" src="/js/app.f28050c3d04357c7e2ad.js"></script></body>

</html>
