<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tacita</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="/js/manifest.72717d3ac1cdf4ab69cb.js"></script><script type="text/javascript" src="/js/vendor.1a85078772c1d4132464.js"></script><script type="text/javascript" src="/js/app.fbadc44f3546fe94fd33.js"></script></body>

</html>
