<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tacita</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="/js/manifest.8a6f9ad3e1fa9f10877d.js"></script><script type="text/javascript" src="/js/vendor.26ef7d02c61e6c94c5c4.js"></script><script type="text/javascript" src="/js/app.e503d68c707cedfb8b6f.js"></script></body>

</html>
