<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tacita</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/uikit.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  <link href="css/vuetify.min.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="/js/manifest.c99cbaa5cb6cbaddd985.js"></script><script type="text/javascript" src="/js/vendor.a7d3d73ff6dc7595e66b.js"></script><script type="text/javascript" src="/js/app.9a74c7ade83cd81cc201.js"></script></body>

</html>
