<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>courses</title>
  <!-- <link href="css/main.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="css/fullcalendar.min.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/uikit.min.css" />

</head>

<body>
  <div id="app"></div>

<script type="text/javascript" src="/js/manifest.ab153d37192cbee37d56.js"></script><script type="text/javascript" src="/js/vendor.734bb37a93b864b4c64a.js"></script><script type="text/javascript" src="/js/app.83a23d2484dfa995a59d.js"></script></body>

</html>
