<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>opendata_display</title>
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/uikit.min.css" />


</head>

<body>
  <div id="app"></div>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
  <!-- built files will be auto injected -->
<script type="text/javascript" src="/js/manifest.e798ef60d103cbac958d.js"></script><script type="text/javascript" src="/js/vendor.97e1829907401656d34f.js"></script><script type="text/javascript" src="/js/app.0b34b7e73f9f3ac44861.js"></script></body>

</html>
