<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>courses</title>
  <!-- <link href="css/main.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="css/fullcalendar.min.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/uikit.min.css" />

</head>

<body>
  <div id="app"></div>

<script type="text/javascript" src="/js/manifest.27d205511282101ad73c.js"></script><script type="text/javascript" src="/js/vendor.ba1ec736dc633e6070e0.js"></script><script type="text/javascript" src="/js/app.0ff3e26a872595afbfc4.js"></script></body>

</html>
